body {
    font-family: 'Acumin Pro'
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* style for header */
header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 55px 0px;

}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.right li {
    margin-left: 60px;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6294A2;
    margin-right: 10px;
}

li {
    opacity: 0.7;
}

.left li {
    margin-left: 70px;
}

h1 {
    font-size: 22px;

}

.left span {
    opacity: 0.7;
}

/* style for sectionfirst */

.sectionfirst {
    width: 80%;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url("./img/block.png");

}

.sectionfirstp {
    padding: 10px 50px 50px 50px
}

.feuterd {
    opacity: 0.5;
}

.sectionfirstp p {
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

h2 {
    font-size: 32px;
    color: white;
    margin-top: 10px;
}

.published {
    text-align: right;
}

.yesterday {
    opacity: 0.5;
}


.newarticle {
    color: #5E8A93;
    border-radius: 15px;
    border: none;
    background-color:#b5dce4 ;
    height: 30px;
}

/* style for section firstbutton */

.Readthearticle {
    background-color: #6294A2;
    width: 186px;
    height: 44px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    animation-name: ordernow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}

@keyframes ordernow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
} 


/* style for sectionsecond */ 

.sectionsecond {width: 80%;}